/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilos para la sección de productos */
.productos {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.agregar-al-carrito {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.agregar-al-carrito:hover {
    background-color: #555;
}

/* Estilos para la sección del carrito */
.carrito {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vaciar-carrito {
    background-color: #c33;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.vaciar-carrito:hover {
    background-color: #f00;
}
.confirmar-pago{
    background: #f00;
    color: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5%;
}

.confirmar-pago:hover {
    background-color: rgb(55, 255, 0);
}

/* Estilos para el formulario de compra */
.formulario-compra {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

#formulario-comprador label {
    display: block;
    margin-top: 10px;
}

#formulario-comprador input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

#formulario-comprador button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#formulario-comprador button[type="submit"]:hover {
    background-color: #555;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
